@model ONEE_BE_v2.Models.Offre

@{
    ViewData["Title"] = "Liste des offres";
}

<h3>@ViewData["Title"]</h3>

<div>
    <button class="btn btn-primary mb-2" id="btnAdd">Ajouter une offre</button>
</div>

<div class="container">
    <table class="table table-success table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date Début</th>
                <th>Date Fin</th>
                <th>Nombre de places</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="tblBody">
        </tbody>
    </table>
</div>

<div class="modal" id="OffreModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle"></h3>
            </div>
            <div class="modal-body">
                <input type="hidden" asp-for="Id" />
                <div class="mb-2">
                    <label asp-for="Titre"></label>
                    <input type="text" asp-for="Titre" class="form-control" placeholder="Titre" />
                </div>
                <div class="mb-2">
                    <label asp-for="dateDebut"></label>
                    <input type="date" asp-for="dateDebut" class="form-control" placeholder="Date Début" />
                </div>
                <div class="mb-2">
                    <label asp-for="dateFin"></label>
                    <input type="date" asp-for="dateFin" class="form-control" placeholder="Date Fin" />
                </div>
                <div class="mb-2">
                    <label asp-for="nbr_places"></label>
                    <input type="number" asp-for="nbr_places" class="form-control" placeholder="Nombre de places" />
                </div>
                <div class="mb-2">
                    <label asp-for="Description"></label>
                    <input type="text" asp-for="Description" class="form-control" placeholder="Description" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="Save" type="button" onclick="Insert();">Enregistrer</button>
                <button class="btn btn-success" id="Update" type="button" onclick="Update();" style="display:none">Modifier</button>
                <button class="btn btn-danger" data-bs-dismiss="modal" onclick="HideModal();">Fermer</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/Offre.js"></script>