@model IEnumerable<ONEE_BE_v2.Models.Candidature>
@{
    ViewData["Title"] = "Candidatures";
}

<h1>Candidatures</h1>
<link href="https://unpkg.com/tabulator-tables@5.4.3/dist/css/tabulator.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.3/dist/js/tabulator.min.js"></script>

<!--<input type="text" class="form-control" id="searchInput1" placeholder="Rechercher des candidatures">-->
<div style="margin-top: 30px;"></div>
<div id="tabulatorContainer"></div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.1.0/js/tabulator.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/5.1.0/js/modules/virtual-dom/vertical.js"></script>
    <script src="~/js/Candidature.js"></script>
}